<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel='stylesheet', href="style.css", type='text/css' )
        script. 
            ROOM_ID = "#{roomId}"
        script(src="/socket.io/socket.io.js" defer)
        script(src="script.js" defer)
    body
        h1#video-grid videoGrid
        #{roomId}